
article.container
  style(scoped).
    header {
      margin-bottom: 50px;
    }
    header nav {
      margin-top: -32px;
      text-align: center;
    }
    header .previous-diary {
      margin-right: 200px;
    }
    .diary-not-exist {
      margin-top: 100px;
    }
    .menu {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 20px;
    }
    .menu .menu-trigger {
      padding: 10px;
      color: #aeaeae;
      text-decoration: none;
    }
    .menu .menu-trigger:hover,
    .menu.open .menu-trigger {
      background: #eaeaea;
    }
    .menu .dropdown-menu {
      left: auto;
      right: 0;
      min-width: 0;
      border-radius: 0;
      box-shadow: none;
    }

  header
    h2.text-center {{date}}
    nav: ul.list-inline
      li: a.previous-diary(ui-sref="diary({date: previousDate})") {{'copy:diary.previous_diary' | i18next}}
      li: a.next-diary(ui-sref="diary({date: nextDate})" ng-style="{visibility: nextDate ? 'visible' : 'hidden'}") {{'copy:diary.next_diary' | i18next}}
    .menu.dropdown
      a.menu-trigger.glyphicon.glyphicon-align-justify.dropdown-toggle(href="javascripts:;")
        span.sr-only {{'copy:diary.menu' | i18next}}
      ul.dropdown-menu
        li: a(href="javascript:;" ng-click="showSettings()") {{'copy:diary.menu_items.settings' | i18next}}
        li: a(href="javascript:;" ng-click="logout()") {{'copy:diary.menu_items.logout' | i18next}}

  p.text-center.diary-not-exist(ng-show="diaryStatus === 'notExist'")
    | {{'copy:diary.diary_not_exist' | i18next}}

  section(ng-repeat="note in diary.notes") {{note.content}}