doctype html
html
  head
    meta(charset="utf-8")
    title LifeMessager

    link(rel="stylesheet" href="styles/bower.css")
    link(rel="stylesheet" href="styles/app.css")
    script(src="scripts/vendor.js")
    script(src="scripts/app.js")

  body
    #main-container(ui-view)
